<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>B-Corp BH (Bounty Hunter) - Development Bounty Hunter Site</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <h1>B-Corp BH</h1>
        <h3>Le premier site pour chasseur de primes en développement d'applications</h3>
        <img style="height: 300px; width: 500px;" src="https://raw.githubusercontent.com/axelgervaisberi/bcorp-careers/main/img/banner.avif" alt="banner">
        <h2>A propos de B-Corp BH</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae earum in sit <br>
            soluta neque sequi vel aspernatur eos provident eius corporis quo temporibus <br>
            cum voluptatem odit sapiente, perspiciatis similique maiores?
        </p>
        <h2>Bounties récentes</h2>
        <p>Les primes seront ici</p>
        <button>Nous contacter</button>
    </body>
</html>